{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<h1>Это первый шаблон</h1>
    <i class="fas fa-arrow-circle-right fa-lg fa-fw"></i><a href={{ path('base') }}> Второй</a>
{% endblock %}